[Unit]
Description=uGunicorn instance to serve robot
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/robot
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:robot.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target