<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h3 class="mt-5">Robot Server Live Stream</h3>
                    <h3>Buttons
                        <form method="post" action="/">
                            <input type="submit" value="node1" name="summon to node1"/>
                        </form>
                        <form method="post" action="/">
                            <input type="submit" value="node2" name="summon to node2"/>
                        </form>
                    </h3>
                    <h3>Work Stations
                        <select name="work stations">
                            {% for station in workStations %}
                                <option value="{{station}}">{{station}}</option>
                            {% endfor %}
                        </select>
                    </h3>
                    <img src="{{ url_for('UI') }}" width="100%">
                </div>
            </div>
        </div>
    </body>
</html>