<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h3> Please enter the pickup station and dropoff station below </h3>
                    <form action = "/api/v1/submitRequest" method = "POST">
                        <h3>Pickup at </h3><select name = "pickupStation" method = "POST" action = "" >
                            {% for station in stations %}
                            <option value = "{{station}}" SELECTED>{{station}}</option>
                            {% endfor %}
                        </select>
                        <h3>Dropoff at </h3><select name = "dropoffStation" method = "POST" action = "" >
                            {% for station in stations %}
                            <option value = "{{station}}" SELECTED>{{station}}</option>
                            {% endfor %}
                        </select>
                        <p><input type = "submit" value = "submit" action = ""/></p> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>